body#game {
	-moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

/* sticky footer { */
html, body#game {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;

	/* Negative indent footer by it's height */
	margin: 0 auto -95px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 95px;
}

#footer {
	/*background-color: #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
/*@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

@media (min-width: 980px) {
#wrap > .container {
	padding-top: 95px;
}
}*/
/* sticky footer } */

#guess-form, #guess {
	margin-bottom: 0px;
}

#guess {
	font-size: 48px;
	height: 81px;
	border-width: 4px;
	box-sizing: border-box;
	text-align: center;
	/*border-color: #2C3E50; /* @midnight-blue; */
	/*border-color: #34495E; /* @wet-asphalt; */
	border-color: #BDC3C7; /* @silver; */

}

#guess:focus {
	/*border-color: #1ABC9C; /* @	turquoise; */
	border-color: #1ABC9C; /* @	turquoise; */
}

#logotype {
	text-align: center;
}

#logotype img {
	margin: 30px 0;
	max-width: 100%;
}

.input-block {
	width: 100%;
	box-sizing: border-box;
}

.align-center {
	text-align: center;
}

#top {
	background-color: rgba(44, 62, 80, 0.9);
	color: #ffffff;
}

/* home */
#home, #home .hero-unit {
	/*background-color: #c0392b; /* @pomegranate; */
	background-color: #2C3E50; /* @midnight-blue; */
	
}

#home .hero-unit {
	color: #ffffff;
	text-align: center;
}

#home .hero-unit h1 {
	font-size: 92px;
}

#home .hero-unit .lead {
	font-size: 48px;
	line-height: 60px;
}

#home .hero-unit .row-fluid:last-child {
	margin-top: 20px;
}

@media (max-width: 767px) {
#home .hero-unit h1 {
	font-size: 76px;
}

#home .hero-unit .lead {
	font-size: 32px;
}
}

#top {
	border-radius: 0px 0px 12px 12px;
}

#top > div {
	width: 33%;
	display: inline-block;
}

#top i {
	font-size: 36px;
}

#top button {
	position: relative;
	top: 9px;
	right: 15px;
	padding: 6px 7px 6px 12px;
}

#top button i {
	font-size: 32px;
}

#top h1 {
	display: inline-block;
	margin: 0px;
	line-height: 70px;
}

#score span {
	font-size: 32px;
	margin-left: 20px;
}

.icon-ok {
	color: #2ecc71;
}

.icon-remove {
	color: #e74c3c;
}
/* home */